@mixin button
    padding: 8px 20px
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64)
    background: linear-gradient(to top, #e74a35 0%, #f26843 100%)
    border: none
    border-radius: 30px
    color: #fff
    font-family: Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight: 400
    font-size: 18px
    &:hover
        background:#fff
        color:#000