.wrapper
    max-width: 1250px
    min-height: 2449px
    padding: 20px 30px
    margin: 0 auto
    background: url(/images/background/main.png) center no-repeat
    font-family: Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif