.wrapper
    position: relative
    max-width: 1250px
    min-height: 800px
    padding: 20px 30px
    margin: 0 auto
    background: #849d8f
    font-family: Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif
    overflow: hidden

a
    color: #000
    &:hover
        color: #ccc

::-webkit-scrollbar
    width: 8px
    background-color: #ccc

::-webkit-scrollbar-thumb
    background-color: #849d8f
    border-radius: 5px

