.wrapper
    max-width: 1250px
    padding: 20px 30px
    margin: 0 auto
    background: #849d8f
    font-family: Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif

a
    color: #000
    &:hover
        color: #ccc    