.header        
    &__list
        margin: 0 0 0 20px
        display: flex
        justify-content: space-between
        list-style: none
        width: 400px
        font-size: 16px
        font-weight: 500

    &__links
        display: flex
        align-items: center

    &__item
        padding: 10px 15px
        border-radius: 20px
        cursor: pointer
        
        &:hover
            background: #fff
            color: #000   

        &-link
            color: #fff
            
        &-text
            border-bottom: 1px solid #fff

    &__info
        position: absolute
        right: 0
        top: 50px   