.cart

    &__header
        position: sticky
        top: 0
        padding: 15px 20px
        display: flex
        justify-content: space-between
        background: #fff
        color: #000
        z-index: 10

        &-actions
            display: flex
            align-items: center
            width: 120px
            justify-content: space-between

        &-title
            font-size: 30px
            font-weight: 700

        &-remove
            font-size: 17px
            color: red
            text-decoration: underline
            font-weight: 500
            border: none
            background: none
            cursor: pointer

            &:hover
                color: #ccc
                text-decoration: none