.mobile
    &__actions
        display: none
        position: fixed
        bottom: 20px
        right: 20px
        flex-direction: column
        height: 220px
        justify-content: space-between
        z-index: 20

    &__cart
        display: block
        width: 60px
        height: 60px
        border: none
        border-radius: 50%
        background: url(/images/icons/header/shopping-cart.svg) no-repeat center
        background-color: #b2b2b2
        cursor: pointer

        &:hover
            background-color: #998686

    &__burger
        position: relative
        display: block
        width: 60px
        height: 60px
        border: none
        border-radius: 50%
        background: url(/images/icons/mobile/burger-menu.svg) no-repeat center
        background-color: #b2b2b2
        cursor: pointer

        &:hover
            background-color: #998686

    &__search
        padding: 0
        width: 60px
        height: 60px
        background: url(/images/icons/header/search.svg) no-repeat center
        background-color: #b2b2b2