.sort
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: flex-end
    max-width: 980px
    width: 100%

    &__field
        position: relative
        margin: 40px 15px 0 0
        padding: 0 15px
        display: flex
        justify-content: space-between
        align-items: center
        height: 37px
        border-radius: 20px
        background: rgba(255, 255, 255, 0.2)
            
    &__title
        position: absolute
        top: -25px 

    &__button
        margin: 15px 0 0 0    