.sort__category
    width: 195px
    cursor: pointer

    &::after
        content: ''
        position: absolute
        top: calc(50% - 5px)
        right: 20px
        display: block
        width: 5px
        height: 5px
        border: 2px solid #fff
        border-top: none
        border-left: none
        transform: rotate(45deg)

    &-value
        color: #fff
        background: transparent
        border: none
        cursor: pointer