.sort__fat
    position: relative
    padding: 0 15px
    display: flex
    justify-content: space-between
    align-items: center
    width: 415px
    border-radius: 20px
    background: rgba(255, 255, 255, 0.2)
    
    &-radio
        margin: 0 10px 0 0    